/* Styles applying to all the pages */
.navigation {
    width: 99vw;
    border: 1px white;
    background-color: #cb997e;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 40px;
    justify-content: space-around;
    align-items: right; 
}
a {
    text-decoration: none;
    color: antiquewhite;
    
}
a:hover {
    color: azure;
}
.header {
    margin-top: 40px;
    text-align: center;
    font-size: large;
    font-style: italic;
    /* background-color: #a3b18a; */
}
h2 {
    text-align: center;
    font-size: larger;
    font-style: italic;
}
body {
    background-color: #ffe8d6;
    font-family: Arial, sans-serif;
    margin: 10px;
    padding: 0;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #b7b7a4;
    color: #000000;
    text-align: center;
    /* position: fixed; */
}

/* Index.html*/
#top {
    text-align: center;
    font-style: italic;
}
.top-item {
    width: 300px;
    padding: 15px;
    height: 400px;
    /* background-color: #ddbea9; */
    border-radius: 7px;
    text-align: center;
}
.top-picks {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.top-item img {
    width: 300px;
    height: 360px;
    border-radius: 7px;
    /* object-fit: cover; */
}
.top-item p{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
.shelf {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}
.shelf-item {
    width: 380px;
    padding: 20px;
    height: 400px;
    /* background-color: #ddbea9; */
    border-radius: 7px;
    text-align: center;
}
.shelf-item img {
    width: 300px;
    height: 360px;
    border-radius: 7px;  
}
.shelf-item p{
    font-size: 15px;
    font-weight: bold;
    font-style: italic;
}
#novel {
    text-align: center;
    font-style: italic;
}
#join-us {
    margin-left: 300px;
}
.join p {
    text-align: center;
}
input[type=text], [type=number] {
    width: 40%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ddbea9;
}
button {
    margin-left: 300px;
    width: 20%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ddbea9;
}
button:hover {
    background-color: #cb997e;
    color: white;
}

/* About.html styles */
.about p {
    text-align: center;
}
#par {
    text-align: center;
    margin: 10px;
}
.founders {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.founder-item {
    width: 450px;
    padding: 20px;
    height: 460px;
    background-color: #ddbea9;
    border-radius: 7px;
    text-align: center;
}
.founder-item img {
    width: 400px;
    height: 380px;
    border-radius: 7px;
    object-fit: cover;  
}
.founder-item button {
    width: 30%;
    background-color: #ffe8d6;
}
.founder-item button:hover {
    background-color: #b7b7a4;
}
.hidden {
    display: none;
}
#founder-details {
    text-align: center;
    font-weight: bold;
}

/* Contact-us.html */
.contact {
    background-color: #ddbea9;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    width: 40%;
    height: 80%;
    box-shadow: 0px 0px 10px #000000;
}
.contact p, h3, ul, li {
    list-style-position: inside;
    text-align: center;
    /* align-items: center; */
}
li {
    text-align: left;
}

/* Styles for recommend.html */
#book-form input[type=text], textarea, [type=url] {
    width: 40%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: #ddbea9;
    margin: 2px;
}
#book-form button {
    margin-left: 50px;
    width: 10%;
    padding: 12px;
    border: 1px solid black;
    border-radius: 4px;
    /* background-color: #ddbea9; */
}
#recommendations-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;  
}
.book {
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ddbea9;
    width: 450px;
    height: 350px;
    text-align: center;
    padding: 5px;
}
.book img {
    width: 300px;
    height: 200px;
}